# MCSOS Build Artifacts
build/
iso_root/

# Binary & Executable Images
*.iso
*.img
*.elf

# Debug & Linker Maps
*.map

# Compiler Objects & Dependency Files
*.o
*.d

# Third Party Dependencies
third_party/limine/
