# --- Build Outputs ---
build/
bin/
obj/

# --- Binary & Executable Files ---
*.o
*.elf
*.bin
*.img
*.iso
*.map

# --- Logs & Debugging ---
*.log
.cache/
dump.txt

# --- Editor & IDE Private Folders ---
.vscode/
.idea/
*.swp
*.swo

# --- System & Misc ---
.DS_Store
Thumbs.db
